<!DOCTYPE html>
<html lang="en">
{%load static %}
<head>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel='stylesheet' href="{% static 'css/homev18.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Title</title>
</head>
<body >

    <div class="container">
        {% for i in back_img %}
            <img class='headers' src="{{i.header.url}}" >
            <a href={% url 'start_page' %}  >
            <img class='icoheaders' src="{{i.ico_header.url}}" href={% url 'start_page' %} >
            </a>
            <div class="btn_autorization" >
                <form id="autorization_form" action="{% url 'login' %}">
                <a href={% url 'login' %} class="btn_a_txt" style="text-decoration: none;" >Авторизация</a>
            </form>
            </div>


<div class="btn_registration">
    <form id="registration_form" action="{% url 'register' %}">
        <h1 onclick="submitForm()" class="btn_r_txt">Регистрация</h1>
    </form>
</div>


<script>
    function submitForm() {
        document.getElementById("registration_form").submit();
    }
</script>

        {% endfor %}
    </div>





    <div class="container_restaurant">
        {% for r in page %}
            <img class='restaurant_photo' src="{{r.photo_restaurant.url}}" >
        {% endfor %}

    </div>

    <div class="container_restaurant_photo2">
        {% for r in page %}
            <img class='restaurant_photo2' src="{{r.photo_restaurant2.url}}" >
        {% endfor %}
    </div>

    <div class="container_restaurant_photo3">
        {% for r in page %} 
            <img class='restaurant_photo3' src="{{r.photo_restaurant3.url}}" >
        {% endfor %}
    </div>



    {% for r in page %}
        <h1 class="rating">Рейтинг:       {{r.rating}}</h1>
        <h1 class="kitchen">Кухня:       {{r.kitchen}}</h1>
        <h1 class="summer_terrace">Терраса:       {{r.terrace_restaurant}}</h1>
        <h1 class="parking">Паркинг:       {{r.parking_restaurant}}</h1>
        <h1 class="average_check">Средний чек:       {{r.average_check}}  ₽ </h1>
        <h1 class="number">Номер:       {{r.phone}}</h1>
        <h1 class="email">Почта:       {{r.email}}</h1>

    {% endfor %}




    <form method="post" id="form_save" class="input_name_booking" action="{% url 'save_data' %}">
    {% csrf_token %}
        {{ form.as_p }}
        {% for r in page %}
        <div>
            <h2 class="name_restaurant" name="name_restaurant_name">{{ r.Name_restaurant }}</h2>

        </div>

        {% endfor %}
        <h1 class="booking">Бронирование</h1>
        <label class="text_name_booking" for="input-field">Ваше имя:</label>
        <input class="input_booking" required type="text" id="input-field" name="input-booking" maxlength=13>
        <label class="number_booking_text" for="input-field">Номер:</label>
        <input class="number_booking" required type="tel" id="input-field" name="input-number_booking"  placeholder="+7 (___) ___-__-__"
        pattern="[+]{1}[7]{1}[0-9]{10}"
        required>
        <label class="people_booking_text" for="input-field">Мест:</label>
        <input class="people_booking" type="text" id="input-field" name="input-people_booking" maxlength=1>


        <button class="booking_btn" type="submit" >
            <span class="button-text">Забронировать</span>
            <div class="fill-container"></div>
          </button>
    </form>

    <div class="about_r">
        {% for r in page %}
        <h1 class="about_h">Про заведение:<h1>
        <h1 class="about">{{r.about}}</h1>
        {% endfor %}

    </div>



{% for r in page %}


<button class="button" >

    <a class="button-text" href={{ r.menu_download.url }}>Открыть меню</a>
    <div class="fill-container"></div>

    </button>
{% endfor %} 



    <div class="previous">
        {% if page.has_previous%}
        {% for r in page %}
            <a class="previous_page" href="?page={{page.previous_page_number}}" style="text-decoration: none;" >Назад</a>
        {% endfor %}
        {% endif %}
    </div>

    <div class="next_page">
        {% if page.has_next %}
        {% for r in page %}
            <a class="next_page" href="?page={{page.next_page_number}}" style="text-decoration: none;">Вперед</a>

        {% endfor %}
        {% endif %}
    </div>


   
    <div class="footer">
        {% for i in back_img %}
            <img class="footer_img" src="{{i.f_image.url}}">
            <div class="footer_btn">
                <h1 class="text_footer_dev">Про разработчика</h1>
                <h1 class="text_footer_project"> О проекте</h1>
                <h1 class="text_footer_telegram">Телеграм Бот</h1>
                <a class="text_footer_api" href={% url 'api_page' %}>API</a>
        {% endfor %}
    </div> 
</body>
</html>