<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel='stylesheet' href="{% static 'css/profilev6.css' %}">
</head>
<body>
    <div class="container">
        {% for i in back_img %}
            <img class='headers' src="{{i.header.url}}" >
            <a href={% url 'start_page' %}  >
                <img class='icoheaders' src="{{i.ico_header.url}}" href={% url 'start_page' %} >
                </a>
            <div class="btn_logout">
                <a href={% url 'start_page' %} class="btn_logout_txt" style="text-decoration: none;" >Выйти</a>
                <div class="user_setting">
                        <a href={% url 'setting_user' %}  class="user_btn" style="text-decoration: none;">{{ user}}</a>
                </div>
                {% endfor %}
        </div>
    </div>   

<h2 class="profile_label">Персональные данные</h2>
<h1 class="label_login">Логин:<h1>
<h1 class="login">{{user}}</h1>
<h1 class="name_label">Имя:</h1>
<h1 class="name">{{user.first_name}}</h1>
<h1 class="last_name_label">Фамилия:</h1>
<h1 class="last_name">{{user.last_name}}</h1>
<h1 class="email_label">email:</h1>
<h1 class="email">{{user.email}}</h1>
<h1 class="date_registration_label">Регистрация:</h1>
<h1 class="date_registration">{{user.date_joined}}</h1>
<h2 class="message_label">Уведомления</h2>
<h2 class="booking_label">Бронирование</h2>


<body>
  <div class="scrollable-container">
    {% for post in profile %}
        <h1 class="head">{{ post.heading }}<h1>
      <h1 class="message">{{ post.Message }}</h1>
    {% endfor %}
  </div>
</body>

<body>
    <div class="scrollable-container2">
      {% for b in booking %}
          <h1 class="name_userbooking">Имя: {{ b.name }}<h1>
        <h1 class="number_userbooking">Номер: {{ b.number }}</h1>
        <h1 class="places_booking">Мест: {{ b.places }}</h1>
        <h1 class="date_booking">Создание брони: {{ b.date }}</h1>
        <hr class="line">
      {% endfor %}
    </div>
  </body>

  
<form method="POST" class="btn_new_token" action="{% url 'add_record' %}">
    {% csrf_token %}
    <input type="hidden" name="user_id" value="{{ user.id }}">

    <button class="booking_btn" type="submit" >
        <span class="button-text">Запросить токен</span>
        <div class="fill-container"></div>
      </button>
  </form>

</html>

  


            <div class="footer">
                {% for i in back_img %}
                    <img class="footer_img" src="{{i.f_image.url}}">
                    <div class="footer_btn">
                        <h1 class="text_footer_dev">Про разработчика</h1>
                        <h1 class="text_footer_project"> О проекте</h1>
                        <h1 class="text_footer_telegram">Телеграм Бот</h1>
                        <h1 class="text_footer_api">API</h1>
                {% endfor %}
            </div> 
</body>
</html>