<!DOCTYPE html>
<html lang="en">
{%load static %}
<head>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link rel='stylesheet' href="{% static 'css/reg_new_userv7.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <title>Title</title>
</head>
<body >

    <div class="container">
        {% for i in back_img %}
            <img class='headers' src="{{i.header.url}}" >
            <a href={% url 'start_page' %} >
              <img class='icoheaders' src="{{i.ico_header.url}}" href={% url 'start_page' %} >
              </a>
            <div class="btn_autorization">
                <a href={% url 'login' %}  class="btn_a_txt" style="text-decoration: none;">Авторизация</a>
                {% endfor %}
            </div>


    <form method="post">
      {% csrf_token %}
      
    <h2 class="label_registration">Регистрация<h2>

      <h1 class="label_login">Придумайте логин<h1>

      <div class='username'>
       {{ form.username }}
      </div>

      <div class="username_error">
        {{ form.username.errors }}
        </div>

      <h1 class="label_email">Введите email<h1>

      <div class='email'>
        {{ form.email }}
        </div>
        
      <div class="email_error">
        {{ form.email.errors }}
        </div>

      <h1 class="label_password">Придумайте пароль<h1>

      <div class='password'>
        {{ form.password1 }}
        </div>
        
      <div class="password_error">
        {{ form.password2.errors }}
        </div>

      <h1 class="label_password2">Подтвердите пароль<h1>

      <div class='password2'>
        {{ form.password2 }}
        </div>


      </div>

      <button class="booking_btn" type="submit" >
        <span class="button-text">Регистрация</span>
        <div class="fill-container"></div>
      </button>


    </form>
















    <div class="footer">
        {% for i in back_img %}
            <img class="footer_img" src="{{i.f_image.url}}">
            <div class="footer_btn">
                <h1 class="text_footer_dev">Про разработчика</h1>
                <h1 class="text_footer_project"> О проекте</h1>
                <h1 class="text_footer_telegram">Телеграм Бот</h1>
                <h1 class="text_footer_api">API</h1>
        {% endfor %}
    </div>







</body>
</html>