<!DOCTYPE html>
<html lang="en">
{%load static %}
<head>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<!--    <link rel="stylesheet" type="text/css" href="{% static 'css/registrationsv3.css' %}">-->
    <meta charset="UTF-8">

    <title>Title</title>
</head>
<body >

    <div class="container">
        {% for i in back_img %}
            <img class='headers' src="{{i.header.url}}" >
            <img class='icoheaders' src="{{i.ico_header.url}}" >
            <div class="btn_autorization">
                <h1 class="btn_a_txt">Авторизация</h1>
            </div>

<div class="btn_registration">
    <form id="registration_form" action="{% url 'register' %}">
        <h1 onclick="submitForm()" class="btn_r_txt">Регистрация</h1>
    </form>
</div>


    <h2 class="label_registration">Регистрация<h2>
    <h1 class="label_login">Придумайте логин<h1>
    <h1 class="label_email">Введите email<h1>
    <h1 class="label_password">Придумайте пароль<h1>
    <h1 class="label_password2">Подтвердите пароль<h1>
    <form method="post">
      {% csrf_token %}
      <div class='username'>
       {{ form.username }}</div>
      <div>
    
      <div class='email'>
        {{ form.email }}
        </div>
      
      <div class='password'>
        {{ form.password1 }}
        </div>
    
      <div class='password2'>
        {{ form.password2 }}
        </div>
    
      <div class="password_error2">
        {{ form.password2.errors }}
        </div>
      <div class="password_error">
        {{ form.password2.errors }}
        </div>
    
      <div class="email_error">
        {{ form.email.errors }} 
        </div>
      <div class="username_error">
        {{ form.username.errors }} 
        </div>
      <button type="submit" class="btn_reg">Зарегистрироваться</button>
    </form>
    



    <div class="footer">
        {% for i in back_img %}
            <img class="footer_img" src="{{i.f_image.url}}">
            <div class="footer_btn">
                <h1 class="text_footer_dev">Про разработчика</h1>
                <h1 class="text_footer_project"> О проекте</h1>
                <h1 class="text_footer_telegram">Телеграм Бот</h1>
                <h1 class="text_footer_api">API</h1>
        {% endfor %}
    </div>






</body>
</html>