<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel='stylesheet' href="{% static 'css/setting_userv5.css' %}">
</head>
<body>
    <div class="container">
        {% for i in back_img %}
            <img class='headers' src="{{i.header.url}}" >
            <a href={% url 'user_page' %}  >
                <img class='icoheaders' src="{{i.ico_header.url}}" >
                </a>

            <div class="btn_logout">
                <a href={% url 'start_page' %} class="btn_logout_txt" style="text-decoration: none;" >Выйти</a>
                <div class="user_setting">
                        <a href={% url 'setting_user' %}  class="user_btn" style="text-decoration: none;">{{user}}</a>
                </div>
                {% endfor %}
        </div>
    </div>  



    <div class="wrapper">
        <a class="wrapper_txt" onclick="register_new_restaurant()">Зарегистрировать новый ресторан</a>
      </div>
      <script>
        function register_new_restaurant(){
            window.location.href = "{% url 'application_new_res' %}";
        }
    </script>

    <div class="wrapper2">
        <a class="wrapper_txt2" onclick="edit_my_restaurant()">Редактировать ресторан</a>
      </div>
      <script>
        function edit_my_restaurant(){
            window.location.href = "{% url 'edit_restaurant' %}";
        }
    </script>


    <div class="wrapper3">
        <a class="wrapper_txt3" onclick="profile()">Профиль и почта</a>
      </div>
      <script>
        function profile(){
            window.location.href = "{% url 'profile' %}";
        }
    </script>


    <div class="wrapper4">
        <a class="wrapper_txt4" onclick="support()">Техническая поддержка</a>
      </div>
      <script>
        function support(){
            window.location.href = "{% url 'support' %}";
        }
    </script>

    

            <div class="footer">
                {% for i in back_img %}
                    <img class="footer_img" src="{{i.f_image.url}}">
                    <div class="footer_btn">
                        <h1 class="text_footer_dev">Про разработчика</h1>
                        <h1 class="text_footer_project"> О проекте</h1>
                        <a class="text_footer_telegram"href={% url 'tg_page' %}>Телеграм Бот</a>
                        <a class="text_footer_api" href={% url 'api_page' %}>API</a>
                {% endfor %}
            </div> 
</body>
</html>