<!DOCTYPE html>
<html lang="en">
{%load static%}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel='stylesheet' href="{% static 'css/supportv2.css' %}">
</head>
<body>

    <div class="container">
        {% for i in back_img %}
            <img class='headers' src="{{i.header.url}}" >
            <a href={% url 'user_page' %}  >
                <img class='icoheaders' src="{{i.ico_header.url}}" href={% url 'user_page' %} >
                </a>
            <div class="btn_logout">
                <a href={% url 'start_page' %} class="btn_logout_txt" style="text-decoration: none;" >Выйти</a>
                <div class="user_setting">
                        <a href={% url 'setting_user' %}  class="user_btn" style="text-decoration: none;">{{user}}</a>
                </div>
                {% endfor %}
        </div>

    </div>

    <h2 class="info_label"> Уважаемый пользователь</h2>
{% for i in info %}
    <div class="info">
        {{i.info_text_1}}
      </div>
     {% endfor %}

<form method="post">
    {% csrf_token %}





    <h1 class="message_label">Опишите ваши проблему</h2>

        <p class="message_problem">{{form.message}}</p>






    <button  type="submit">Отправить</button>
</form>


<div class="footer">
    {% for i in back_img %}
        <img class="footer_img" src="{{i.f_image.url}}">
        <div class="footer_btn">
            <h1 class="text_footer_dev">Про разработчика</h1>
            <h1 class="text_footer_project"> О проекте</h1>
            <a class="text_footer_telegram"href={% url 'tg_page' %}>Телеграм Бот</a>
            <a class="text_footer_api" href={% url 'api_page' %}>API</a>
    {% endfor %}
</div>
</body>
</html>