<!DOCTYPE html>

<html lang="en">
{%load static %}
<head>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link rel='stylesheet' href="{% static 'css/api_pagev3.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
</head>
<body>
    <div class="container">
        {% for i in back_img %}
            <img class='headers' src="{{i.header.url}}" >
            <a href={% url 'start_page' %}  >
                <img class='icoheaders' src="{{i.ico_header.url}}" href={% url 'start_page' %} >
                </a>
    <div class="btn_registration">
        <form id="registration_form" action="{% url 'register' %}">
            <h1 onclick="submitForm()" class="btn_r_txt">Регистрация</h1>
        </form>
    </div>


    <script>
        function submitForm() {
            document.getElementById("registration_form").submit();
        }
    </script>

            {% endfor %}
        </div>

    <a href="http://qrcoder.ru" target="_blank" class='qr'><img src="http://qrcoder.ru/code/?https%3A%2F%2Ft.me%2FRestaurantAdminBot&10&0" width="370" height="370" border="0" title="QR код"></a>

<a href="https://t.me/RestaurantAdminBot" class="qr_link">Перейти по ссылке к боту</a>


    <div class="footer">
        {% for i in back_img %}
            <img class="footer_img" src="{{i.f_image.url}}">
            <div class="footer_btn">
                <h1 class="text_footer_dev">Про разработчика</h1>
                <h1 class="text_footer_project"> О проекте</h1>
                <a class="text_footer_telegram"href={% url 'tg_page' %}>Телеграм Бот</a>
                <a class="text_footer_api" href={% url "api_page"%}>API</a>
        {% endfor %}
    </div>

</body>
</html>

