*{
    margin: 0;
    padding: 0;
}
/* /////////////////////////////////////////////////HDR///////////////////////////////////// */
body{
    background: #ffffff;
}

.container {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
}
.container .headers{
    position: fixed;
    margin: 0;
    padding: 0;
    height: 64px;
    width: 100%;
}

.container .icoheaders{
    position: absolute;
    margin:0;
    height: 24;
    width: 24;
    left: 12px;
    top: 14px;
    left: 32px;
}
.container .btn_auto {
    position: absolute;
    margin-right: 0em;
    margin-left: 0em;
    right: 32px;
    top: 10px;
    background-color: #f7ebeb00;
    color: rgb(255, 255, 255);
    font-size: 14px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 15px;}

.container .btn_reg{
    position: absolute;
    margin-right: 0em;
    margin-left: 0em;
    right: 32px;
    top: 10px;
    background-color: #f7ebeb00;
    color: rgb(255, 255, 255);
    font-size: 14px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}

.container .btn_autorization{
    position: absolute;
    margin-right: 0em;
    margin-left: 0em;
    right: 32px;
    top: 22px;
}

.container .btn_autorization .btn_a_txt{
    font-size: 14px;
    color: #ffffff;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

.container .btn_registration{
    position: absolute;
    margin-right: 0em;
    margin-left: 0em;
    right: 32px;
    top: 22px;
}

.container .reg_btn{
    position: absolute;
    margin-right: 0em;
    margin-left: 0em;
    right: 152px;
    top: 22px;
}

.container .btn_registration .btn_r_txt{
    font-size: 14px;
    color: #ffffff;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

.container .btn_a_txt:hover {
    color: #a8dfffb9;
    transition: 0.2s linear;
    cursor: pointer;
}

.container .btn_r_txt:hover {
    color: #a8dfffb9;
    transition: 0.2s linear;
    cursor: pointer;
}




/* /////////////////////////////////////////////////FTR/////////////////////////////////// */


.footer {
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 80px; /* высота футера */
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.footer .footer_img{
    position: fixed;
    margin: 0;
    padding: 0;
    height: 100px;
    width: 100%;
}

.footer .footer_btn .text_footer_dev{
    position: absolute;
    font-size: 10px;
    font-family: 'Roboto Light 300', sans-serif;
    color: white;
    left: 32px;
    top: 16px;
    cursor: pointer;
}

.footer .footer_btn .text_footer_project{
    position: absolute;
    font-size: 10px;
    font-family: 'Roboto Light 300', sans-serif;
    color: white;
    left: 32px;
    top: 32px;
    cursor: pointer;
}

.footer .footer_btn .text_footer_telegram{
    position: absolute;
    font-size: 10px;
    font-family: 'Roboto Light 300', sans-serif;
    color: white;
    left: 32px;
    top: 48px;
    cursor: pointer;
}

.footer .footer_btn .text_footer_api{
    position: absolute;
    font-size: 10px;
    font-family: 'Roboto Light 300', sans-serif;
    color: white;
    left: 152px;
    top: 16px;
    cursor: pointer;
}

/* /////////////////////////////////////////////////////////////////// */

.txt_label_api_token{
    position: absolute;
    left: 3%;
    top:9%;
    font-size: 17px;
    font-family:'Roboto Light 300', sans-serif;
}

.get_label{
    position: absolute;
    left: 40%;
    top:9%;
    font-size: 17px;
    font-family:'Roboto Light 300', sans-serif;
}
.info_rigistration{
    position: absolute;
    left: 3%;
    top:12%;
    font-size: 14px;
    font-family:'Roboto Light 300', sans-serif; 
}
.method_post_reg{
    position: absolute;
    left: 3%;
    top:24%;
    font-size: 14px;
    font-family:'Roboto Light 300', sans-serif; 
}
.request_token_info{
    position: absolute;
    left: 3%;
    top:58%;
    font-size: 14px;
    font-family:'Roboto Light 300', sans-serif; 
}
.request_restaurant{
    position: absolute;
    left: 40%;
    top:12%;
    font-size: 14px;
    font-family:'Roboto Light 300', sans-serif;
}


.booking_btn {
    --black: #000000;
    --ch-black: #141414;
    --eer-black: #1b1b1b;
    --night-rider: #fde402;
    --white: #474747;
    --af-white: #f3f3f3;
    --ch-white: #e1e1e1;
    position: absolute;
    right: 3%;
    top: 80%;

    padding: 10px 28px;
    border-radius: 5px;
    color: #fafafa;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0px;
    background-color: var(--eer-black);
    border: none;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-family: Montserrat;
  }
  
  .booking_btn .button-text {
    position: relative;
    z-index: 2;
  }
  
  .booking_btn .fill-container {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    padding-bottom: 100%;
    transform: translateY(-50%) rotate(180deg);
  }
  
  .booking_btn .fill-container::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--night-rider);
    border-radius: 50px;
    transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    transform: translateY(-100%);
  }
  
  .booking_btn:hover {
    transform: translateY(-4px);
    color: var(--white);
  }
  
  .booking_btn:hover .fill-container {
    transform: translateY(-50%) rotate(0);
  }
  
  .booking_btn:hover .fill-container::after {
    transform: translateY(0);
  }



/* ////////////////////////////////////////////////////////////////////////////// */
.second_text{
    font-size: 12.5px;
    font-family:'Roboto Light 300', sans-serif;
}

.qr{
    position: absolute;
    left: 40%;
    top: 20%;
}
.qr_link{
    position: absolute;
    left: 45%;
    top:57%;
}