*{
    margin: 0;
    padding: 0;
}
/* /////////////////////////////////////////////////HDR///////////////////////////////////// */
body{
    background: #ffffff;
}

.container {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
}
.container .headers{
    position: fixed;
    margin: 0;
    padding: 0;
    height: 64px;
    width: 100%;
}

.container .icoheaders{
    position: absolute;
    margin:0;
    height: 24;
    width: 24;
    left: 12px;
    top: 14px;
    left: 32px;
}
.container .btn_auto {
    position: absolute;
    margin-right: 0em;
    margin-left: 0em;
    right: 32px;
    top: 10px;
    background-color: #f7ebeb00;
    color: rgb(255, 255, 255);
    font-size: 14px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 15px;}

.container .btn_reg{
    position: absolute;
    margin-right: 0em;
    margin-left: 0em;
    right: 32px;
    top: 10px;
    background-color: #f7ebeb00;
    color: rgb(255, 255, 255);
    font-size: 14px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}

.container .btn_autorization{
    position: absolute;
    margin-right: 0em;
    margin-left: 0em;
    right: 32px;
    top: 22px;
}

.container .btn_autorization .btn_a_txt{
    font-size: 14px;
    color: #ffffff;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

.container .btn_registration{
    position: absolute;
    margin-right: 0em;
    margin-left: 0em;
    right: 32px;
    top: 22px;
}

.container .reg_btn{
    position: absolute;
    margin-right: 0em;
    margin-left: 0em;
    right: 152px;
    top: 22px;
}

.container .btn_registration .btn_r_txt{
    font-size: 14px;
    color: #ffffff;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

.container .btn_a_txt:hover {
    color: #a8dfffb9;
    transition: 0.2s linear;
    cursor: pointer;
}

.container .btn_r_txt:hover {
    color: #a8dfffb9;
    transition: 0.2s linear;
    cursor: pointer;
}




/* /////////////////////////////////////////////////FTR/////////////////////////////////// */


.footer {
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 80px; /* высота футера */
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.footer .footer_img{
    position: fixed;
    margin: 0;
    padding: 0;
    height: 100px;
    width: 100%;
}

.footer .footer_btn .text_footer_dev{
    position: absolute;
    font-size: 10px;
    font-family: 'Roboto Light 300', sans-serif;
    color: white;
    left: 32px;
    top: 16px;
    cursor: pointer;
}   

.footer .footer_btn .text_footer_project{
    position: absolute;
    font-size: 10px;
    font-family: 'Roboto Light 300', sans-serif;
    color: white;
    left: 32px;
    top: 32px;
    cursor: pointer;
}   

.footer .footer_btn .text_footer_telegram{
    position: absolute;
    font-size: 10px;
    font-family: 'Roboto Light 300', sans-serif;
    color: white;
    left: 32px;
    top: 48px;
    cursor: pointer;
}   

.footer .footer_btn .text_footer_api{
    position: absolute;
    font-size: 10px;
    font-family: 'Roboto Light 300', sans-serif;
    color: white;
    left: 152px;
    top: 16px;
    cursor: pointer;
}   

/* /////////////////////////////////////////////////////////////////// */

.label_authorization{
    position: absolute;
    left: 43%;
    top:24% ;
    font-size: 22px;
    font-family: 'Roboto Light 300', sans-serif;
}



.login_auth{
    position: absolute;
    top: 30%;
    left: 43%;
    font-size: 12px;
    font-family: 'Roboto Light 300', sans-serif;
}

.input_login{
    position: absolute;
    top: 32%;
    left: 43%;
}

.password_auth{
    position: absolute;
    top: 36%;
    left: 43%;
    font-size: 12px;
    font-family: 'Roboto Light 300', sans-serif;
}

.input_password{
    position: absolute;
    top: 38%;
    left: 43%;
}

.btn_auth{
    position:absolute ;
    top: 42.5%;
    left: 43.7%;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 4px;
    border-color: #5B5B5B ;
    background: #5B5B5B;
    color: #f5f5f5;
    font-size: 15px;
    font-family: 'Exo 2', sans-serif;}
