*{
    margin: 0;
    padding: 0;
}
/* /////////////////////////////////////////////////HDR///////////////////////////////////// */
body{
    background: #ffffff;
}

.container {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
}
.container .headers{
    position: fixed;
    margin: 0;
    padding: 0;
    height: 64px;
    width: 100%;
}

.container .ico_setting_headers{
    position: absolute;
    margin:0;
    height: 20px;
    width: 20px;
    right: 220px;
    top: 22px;

}


.container .icoheaders{
    position: absolute;
    margin:0;
    height: 16;
    width: 16;
    top: 14px;
    left: 32px;
}



.container .btn_logout{
    position: absolute;
    margin-right: 0em;
    margin-left: 0em;
    right: 32px;
    top: 22px;
}

.container .btn_logout .btn_logout_txt{
    font-size: 14px;
    color: #ffffff;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

.container .user_setting{
    position: absolute;
    margin-right: 0em;
    margin-left: 0em;
    right: 132px;
    top: 0px;

}

.container .user_setting .user_btn{
    font-size: 14px;
    color: #ffffff;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}




.container .btn_a_txt:hover {
    color: #a8dfffb9;
    transition: 0.2s linear;
    cursor: pointer;
}

.container .btn_r_txt:hover {
    color: #a8dfffb9;
    transition: 0.2s linear;
    cursor: pointer;
}



/* ///////////////////////////////////////////////////////////////// */

.edit_restaurant_label{
    position: absolute;
    left: 42%;
    top:9% ;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.name_restaurant_label{
    position: absolute;
    left: 34%;
    top:17%;
    font-size: 14px;
    font-family:'Roboto', sans-serif ;

}

.edit_name_restaurant{
    position: absolute;
    left: 34%;
    top: 20%;
}

.adress_label{
    position: absolute;
    left: 34%;
    top: 25%;
    font-size: 14px;
    font-family:'Roboto', sans-serif ;
}
.edit_Address{
    position: absolute;
    left: 34%;
    top: 28%;

}
.terrace_label{
    position: absolute;
    left: 34%;
    top: 33%;
    font-size: 14px;
    font-family:'Roboto', sans-serif ;
}

.edit_terrace_restaurant{
    position: absolute;
    left: 34%;
    top:36%;
}

.parking_label{
    position: absolute;
    left: 34%;
    top: 41%;
    font-size: 14px;
    font-family:'Roboto', sans-serif ;
}

.edit_parking_restaurant{
    position: absolute;
    left: 34%;
    top: 44%;
}

.average_check_label{
    position: absolute;
    left: 34%;
    top: 49%;
    font-size: 14px;
    font-family:'Roboto', sans-serif ;
}

.edit_average_check{
    position: absolute;
    left: 34%;
    top: 52%;
}

.email_label{
    position: absolute;
    left: 34%;
    top: 57%;
    font-size: 14px;
    font-family:'Roboto', sans-serif ;
}
.edit_email{
    position: absolute;
    left: 34%;
    top: 60%;
}

.phone_label{
    position: absolute;
    left: 34%;
    top: 65%;
    font-size: 14px;
    font-family:'Roboto', sans-serif ;
}

.edit_phone{
    position:absolute ;
    left: 34%;
    top:68%;
}





.photo_label{
    position: absolute;
    left: 48%;
    top: 17%;
    font-size: 14px;
    font-family:'Roboto', sans-serif ;
}
.edit_photo_restaurant{
    position: absolute;
    left: 48%;
    top:20% ;
}

.photo_label2{
    position: absolute;
    left: 48%;
    top: 25%;
    font-size: 14px;
    font-family:'Roboto', sans-serif ;
}
.edit_photo_restaurant2{
    position: absolute;
    left: 48%;
    top:28% ;
}

.photo_label3{
    position: absolute;
    left: 48%;
    top: 33%;
    font-size: 14px;
    font-family:'Roboto', sans-serif ;
}
.edit_photo_restaurant3{
    position: absolute;
    left: 48%;
    top:36% ;
}

.menu_label{
    position: absolute;
    left: 48%;
    top: 41%;
    font-size: 14px;
    font-family:'Roboto', sans-serif ;
}
.edit_menu_download{
    position: absolute;
    left: 48%;
    top:44% ;
}
.about_label{
    position: absolute;
    left: 48%;
    top: 49%;
    font-size: 14px;
    font-family:'Roboto', sans-serif ;
}
.edit_about{
    position: absolute;
    left: 48%;
    top:52% ;
}


button {
    position: absolute;
    background: #FBD148;
    box-sizing: border-box;
    left: 42%;
    top: 80%;
    border: 0;
    outline: 0;
    padding: 1rem 3rem;
    font-size: 1em;
    cursor: pointer;
    transition: .25s ease;
  }
  
  button::before {
    position: absolute;
    content: '';
    box-sizing: border-box;
    top: 0;
    left: 0;
    transform: translate(-5px, -5px);
    width: 100%;
    height: 100%;
    border: 1px solid rgb(84, 84, 84);
    transition: .25s ease;
  }
  
  button:hover {
    transform: translate(-5px, -5px);
  }
  
  button:hover::before {
    transform: translate(5px, 5px);
  }

  /* /////////////////////////////////////////////////////////////////// */

  .footer {
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 80px; /* высота футера */
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.footer .footer_img{
    position: fixed;
    margin: 0;
    padding: 0;
    height: 100px;
    width: 100%;
}

.footer .footer_btn .text_footer_dev{
    position: absolute;
    font-size: 10px;
    font-family: 'Roboto Light 300', sans-serif;
    color: white;
    left: 32px;
    top: 16px;
    cursor: pointer;
}   

.footer .footer_btn .text_footer_project{
    position: absolute;
    font-size: 10px;
    font-family: 'Roboto Light 300', sans-serif;
    color: white;
    left: 32px;
    top: 32px;
    cursor: pointer;
}   

.footer .footer_btn .text_footer_telegram{
    position: absolute;
    font-size: 10px;
    font-family: 'Roboto Light 300', sans-serif;
    color: white;
    left: 32px;
    top: 48px;
    cursor: pointer;
}   

.footer .footer_btn .text_footer_api{
    position: absolute;
    font-size: 10px;
    font-family: 'Roboto Light 300', sans-serif;
    color: white;
    left: 152px;
    top: 16px;
    cursor: pointer;
}   