*{
    margin: 0;
    padding: 0;
}
/* /////////////////////////////////////////////////HDR///////////////////////////////////// */
body{
    background: #ffffff;
}

.container {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
}
.container .headers{
    position: fixed;
    margin: 0;
    padding: 0;
    height: 64px;
    width: 100%;
}

.container .icoheaders{
    position: absolute;
    margin:0;
    height: 24;
    width: 24;
    left: 12px;
    top: 14px;
    left: 32px;
}
.container .btn_auto {
    position: absolute;
    margin-right: 0em;
    margin-left: 0em;
    right: 32px;
    top: 10px;
    background-color: #f7ebeb00;
    color: rgb(255, 255, 255);
    font-size: 14px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 15px;}

.container .btn_reg{
    position: absolute;
    margin-right: 0em;
    margin-left: 0em;
    right: 172px;
    top: 10px;
    background-color: #f7ebeb00;
    color: rgb(255, 255, 255);
    font-size: 14px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}

.container .btn_autorization{
    position: absolute;
    margin-right: 0em;
    margin-left: 0em;
    right: 32px;
    top: 22px;
}

.container .btn_autorization .btn_a_txt{
    font-size: 14px;
    color: #ffffff;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

.container .btn_registration{
    position: absolute;
    margin-right: 0em;
    margin-left: 0em;
    right: 152px;
    top: 22px;
}

.container .reg_btn{
    position: absolute;
    margin-right: 0em;
    margin-left: 0em;
    right: 152px;
    top: 22px;
}

.container .btn_registration .btn_r_txt{
    font-size: 14px;
    color: #ffffff;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

.container .btn_a_txt:hover {
    color: #a8dfffb9;
    transition: 0.2s linear;
    cursor: pointer;
}

.container .btn_r_txt:hover {
    color: #a8dfffb9;
    transition: 0.2s linear;
    cursor: pointer;
}




/* /////////////////////////////////////////////////FTR/////////////////////////////////// */


.footer {
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 80px; /* высота футера */
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.footer .footer_img{
    position: fixed;
    margin: 0;
    padding: 0;
    height: 100px;
    width: 100%;
}

.footer .footer_btn .text_footer_dev{
    position: absolute;
    font-size: 10px;
    font-family: 'Roboto Light 300', sans-serif;
    color: white;
    left: 32px;
    top: 16px;
    cursor: pointer;
}   

.footer .footer_btn .text_footer_project{
    position: absolute;
    font-size: 10px;
    font-family: 'Roboto Light 300', sans-serif;
    color: white;
    left: 32px;
    top: 32px;
    cursor: pointer;
}   

.footer .footer_btn .text_footer_telegram{
    position: absolute;
    font-size: 10px;
    font-family: 'Roboto Light 300', sans-serif;
    color: white;
    left: 32px;
    top: 48px;
    cursor: pointer;
}   

.footer .footer_btn .text_footer_api{
    position: absolute;
    font-size: 10px;
    font-family: 'Roboto Light 300', sans-serif;
    color: white;
    left: 152px;
    top: 16px;
    cursor: pointer;
}   
/* /////////////////////////////////////////////////////////////////////////// */
.name_restaurant{
    position:absolute;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    left: 30%;
    top:16.5%;
}

.container_restaurant {
    position: fixed;
    display: block;
    height: 420px;
    width: 297px;
    left: 30%;
    top: 20%;
    overflow:hidden


}
.container_restaurant .restaurant_photo{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow:hidden
}
.container_restaurant_photo2{
    position: fixed;
    display: block;
    height: 145px;
    width: 145px;
    left: 30%;
    top: 64%;
    overflow:hidden
}

.container_restaurant_photo2 .restaurant_photo2{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow:hidden
}    

.container_restaurant_photo3{
    position: fixed;
    display: block;
    height: 145px;
    width: 145px;
    left: 38.2%;
    top: 64%;
    overflow:hidden
}

.container_restaurant_photo3 .restaurant_photo3{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow:hidden
}    
.label_name_r{
    position: absolute;
    top:16% ;
    left:30% ;
    font-family: 'Exo 2', sans-serif;
}
.rating{
    position: absolute;
    font-size: 15px;
    font-family: 'Exo 2', sans-serif;
    top:20% ;
    left:47% ;

}
.kitchen{
    position: absolute;
    font-size: 15px;
    font-family: 'Exo 2', sans-serif;
    top:23% ;
    left:47% ;

}
.summer_terrace{
    position: absolute;
    font-size: 15px;
    font-family: 'Exo 2', sans-serif;
    top:26% ;
    left:47% ;

}

.parking{
    position: absolute;
    font-size: 15px;
    font-family: 'Exo 2', sans-serif;
    top:29% ;
    left:47% ;

}
.average_check{
    position: absolute;
    font-size: 15px;
    font-family: 'Exo 2', sans-serif;
    top:32% ;
    left:47% ;

}



.about_r .about_h{
    position: absolute;
    width: 400px;
    font-size: 15px;
    font-family: 'Exo 2', sans-serif;
    top:35% ;
    left:47% ;

}

.about_r .about{
    position: absolute;
    width: 400px;
    font-size: 12px;
    font-family: 'Exo 2', sans-serif;
    top:38% ;
    left:47% ;

}

.number{
    position: absolute;
    font-size: 15px;
    font-family: 'Exo 2', sans-serif;
    top:49% ;
    left:47% ;

}

.email{
    position: absolute;
    font-size: 15px;
    font-family: 'Exo 2', sans-serif;
    top:52% ;
    left:47% ;

}
.download_m .download_menu{
    position: absolute;
    font-size: 14px;
    font-family: 'Exo 2', sans-serif;
    top:55% ;
    left:47% ;
    color: white;
    background: #5B5B5B;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    cursor: pointer;
}





.booking{
    position: absolute;
    font-size: 15px;
    font-family: 'Exo 2', sans-serif;
    top:64% ;
    left:47% ;
}


.text_name_booking{
    position: absolute;
    font-size: 15px;
    font-family: 'Exo 2', sans-serif;
    top:68%;
    left:47% ;
}

.input_booking{
    position: absolute;
    font-size: 15px;
    font-family: 'Exo 2', sans-serif;
    top:68%;
    left:52% ;
}

.number_booking_text{
    position: absolute;
    font-size: 15px;
    font-family: 'Exo 2', sans-serif;
    top:71%;
    left:47% ;
}

.number_booking{
    position: absolute;
    font-size: 15px;
    font-family: 'Exo 2', sans-serif;
    top:71%;
    left:52% ;
}

.people_booking_text{
    position: absolute;
    font-size: 15px;
    font-family: 'Exo 2', sans-serif;
    top:71%;
    left:63% ;
}

.people_booking{
    position: absolute;
    width: 40px;
    font-size: 15px;
    font-family: 'Exo 2', sans-serif;
    top:71%;
    left:66% ;
}


.previous_page {
    font-size: 18px;
    color: #222;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: absolute;
    left: 36%;
    top: 81%;
    font-size: 18px;
    font-family: 'Exo 2', sans-serif;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
  .previous_page:focus,
  .previous_page:hover {
    color: #222;
  }
  
  .previous_page:focus:after,
  .previous_page:hover:after {
    width: 100%;
    left: 0%;
  }
  
  .previous_page:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: rgb(253, 228, 2);
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }




  
  .next_page {
    font-size: 18px;
    color: #222;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: absolute;
    left: 42%;
    top: 81%;
    border: none;
    background: none;
    font-size: 18px;
    font-family: 'Exo 2', sans-serif;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
  .next_page:focus,
  .next_page:hover {
    color: #222;
  }
  
  .next_page:focus:after,
  .next_page:hover:after {
    width: 100%;
    left: 0%;
  }
  
  .next_page:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fde402;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }


  
.next_p .next_page{
    position: fixed;
    display: block;
    font-size: 14px;
    font-family: 'Exo 2', sans-serif;
    top:82% ;
    left:42.5% ;
    color: white;
    background: #5B5B5B;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    cursor: pointer;


} 




.button {
    --black: #000000;
    --ch-black: #141414;
    --eer-black: #1b1b1b;
    --night-rider: #2e2e2e;
    --white: #ffffff;
    --af-white: #f3f3f3;
    --ch-white: #e1e1e1;
    position: absolute;
    left: 47%;
    top: 58.5%;
    padding: 12px 18px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0px;
    background-color: var(--eer-black);
    border: solid 1px var(--night-rider);
    overflow: hidden;
    cursor: pointer;
    transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-family: Montserrat;
    font-size: 14px;
    
  }
  
  .button .button-text {
    position: relative;
    text-decoration: none;
    z-index: 2;
    color: #ffffff;
  }
  
  .button .fill-container {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    padding-bottom: 100%;
    transform: translateY(-50%) rotate(180deg);
  }
  .button .fill-container::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--night-rider);
    border-radius: 50px;
    transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    transform: translateY(-100%);
  }
  
  .button:hover {
    transform: translateY(-4px);
    color: var(--white);
  }
  
  .button:hover .fill-container {
    transform: translateY(-50%) rotate(0);
  }
  
  .button:hover .fill-container::after {
    transform: translateY(0);
  }




  .booking_btn {
    --black: #000000;
    --ch-black: #141414;
    --eer-black: #1b1b1b;
    --night-rider: #fde402;
    --white: #474747;
    --af-white: #f3f3f3;
    --ch-white: #e1e1e1;
    position: absolute;
    left: 47%;
    top: 75%;

    padding: 10px 28px;
    border-radius: 5px;
    color: #fafafa;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0px;
    background-color: var(--eer-black);
    border: none;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-family: Montserrat;
  }
  
  .booking_btn .button-text {
    position: relative;
    z-index: 2;
  }
  
  .booking_btn .fill-container {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    padding-bottom: 100%;
    transform: translateY(-50%) rotate(180deg);
  }
  
  .booking_btn .fill-container::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--night-rider);
    border-radius: 50px;
    transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    transform: translateY(-100%);
  }
  
  .booking_btn:hover {
    transform: translateY(-4px);
    color: var(--white);
  }
  
  .booking_btn:hover .fill-container {
    transform: translateY(-50%) rotate(0);
  }
  
  .booking_btn:hover .fill-container::after {
    transform: translateY(0);
  }

  
  .icon_list{
    position: absolute;
    left: 20%;
    top: 17%;
    width: 100px;
    height: 100px;
  }