*{
    margin: 0;
    padding: 0;
}

body{
    background: #ffffff;
}

.container {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
}
.container .headers{
    position: fixed;
    margin: 0;
    padding: 0;
    height: 64px;
    width: 100%;
}

.container .icoheaders{
    position: absolute;
    margin:0;
    height: 24;
    width: 24;
    left: 12px;
    top: 14px;
    left: 32px;
}
.container .btn_auto {
    position: absolute;
    margin-right: 0em;
    margin-left: 0em;
    right: 32px;
    top: 10px;
    background-color: #f7ebeb00;
    color: rgb(255, 255, 255);
    font-size: 14px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 15px;}

.container .btn_reg{
    position: absolute;
    margin-right: 0em;
    margin-left: 0em;
    right: 172px;
    top: 10px;
    background-color: #f7ebeb00;
    color: rgb(255, 255, 255);
    font-size: 14px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}

.container .btn_autorization{
    position: absolute;
    margin-right: 0em;
    margin-left: 0em;
    right: 32px;
    top: 22px;
}

.container .btn_autorization .btn_a_txt{
    font-size: 14px;
    color: #ffffff;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

.container .btn_registration{
    position: absolute;
    margin-right: 0em;
    margin-left: 0em;
    right: 152px;
    top: 22px;
}

.container .reg_btn{
    position: absolute;
    margin-right: 0em;
    margin-left: 0em;
    right: 152px;
    top: 22px;
}

.container .btn_registration .btn_r_txt{
    font-size: 14px;
    color: #ffffff;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

.container .btn_a_txt:hover {
    color: #a8dfffb9;
    transition: 0.2s linear;
    cursor: pointer;
}

.container .btn_r_txt:hover {
    color: #a8dfffb9;
    transition: 0.2s linear;
    cursor: pointer;
}


/* ////////////////////////////////////////////////////////////// */




.footer {
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 80px; /* высота футера */
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.footer .footer_img{
    position: fixed;
    margin: 0;
    padding: 0;
    height: 100px;
    width: 100%;
}

.footer .footer_btn .text_footer_dev{
    position: absolute;
    font-size: 10px;
    font-family: 'Roboto Light 300', sans-serif;
    color: white;
    left: 32px;
    top: 16px;
    cursor: pointer;
}   

.footer .footer_btn .text_footer_project{
    position: absolute;
    font-size: 10px;
    font-family: 'Roboto Light 300', sans-serif;
    color: white;
    left: 32px;
    top: 32px;
    cursor: pointer;
}   

.footer .footer_btn .text_footer_telegram{
    position: absolute;
    font-size: 10px;
    font-family: 'Roboto Light 300', sans-serif;
    color: white;
    left: 32px;
    top: 48px;
    cursor: pointer;
}   

.footer .footer_btn .text_footer_api{
    position: absolute;
    font-size: 10px;
    font-family: 'Roboto Light 300', sans-serif;
    color: white;
    left: 152px;
    top: 16px;
    cursor: pointer;
}   
/* ///////////////////////////////////////////////////////////// */

.label_registration{
    position: absolute;
    left: 43%;
    margin-top: 8%;
    font-size: 22px;
    font-family: 'Roboto Light 300', sans-serif;
}

.label_login{
    position: absolute;
    margin-top: 11%;
    left: 43%;
    font-size: 12px;
    font-family: 'Roboto Light 300', sans-serif;
}

.username{
    position: absolute;
    left: 43%;
    margin-top: 11.5%;
}

.username_error{
    position: absolute;
    left: 56%;
    margin-top: 12.3%;
    color: #912020;
    font-size: 12px;
    font-family: 'Roboto Light 300', sans-serif;
}

.label_email{
    position: absolute;
    left: 43%;
    margin-top: 14.5%;
    font-size: 12px;
    font-family: 'Roboto Light 300', sans-serif;
}
.email{
    position: absolute;
    left: 43%;
    margin-top: 15%;
}


.label_password{
    position: absolute;
    left: 43%;
    margin-top: 18%;
    font-size: 12px;
    font-family: 'Roboto Light 300', sans-serif;
}
.password{
    position: absolute;
    left: 43%;
    margin-top:18.5%;
}

.password_error{
    position: absolute;
    left:56% ;
    margin-top: 19.5%;
    color: #912020;
    font-size: 12px;
    font-family: 'Roboto Light 300', sans-serif;
}

.label_password2{
    position: absolute;
    left:43% ;
    margin-top: 21.5% ;
    font-size: 12px;
    font-family: 'Roboto Light 300', sans-serif;
}
.password2{
    position: absolute;
    left: 43%;
    margin-top: 22%;
}



.booking_btn{
    position:absolute ;
    margin-top: 25%;
    left: 43.2%;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 4px;
    border-color: #5B5B5B ;
    background: #5B5B5B;
    color: #f5f5f5;
    font-size: 15px;
    font-family: 'Exo 2', sans-serif;
}
/* ///////////////////////////////1600px/////////////////////////////////// */
@media ( max-width: 1600px){

    .label_registration{
        position: absolute;
        left: 43%;
        margin-top: 8.5%;
        font-size: 22px;
        font-family: 'Roboto Light 300', sans-serif;
    }
    
    .label_login{
        position: absolute;
        margin-top: 11.5%;
        left: 43%;
        font-size: 11.5px;
        font-family: 'Roboto Light 300', sans-serif;
    }
    
    .username{
        position: absolute;
        left: 43%;
        margin-top: 12%;
    }
    
    .username_error{
        position: absolute;
        left: 59%;
        margin-top: 13%;
        color: #912020;
        font-size: 12px;
        font-family: 'Roboto Light 300', sans-serif;
    }
    
    .label_email{
        position: absolute;
        left: 43%;
        margin-top: 16%;
        font-size: 12px;
        font-family: 'Roboto Light 300', sans-serif;
    }
    .email{
        position: absolute;
        left: 43%;
        margin-top: 16.5%;
    }
    
    
    .label_password{
        position: absolute;
        left: 43%;
        margin-top: 20.5%;
        font-size: 12px;
        font-family: 'Roboto Light 300', sans-serif;
    }
    .password{
        position: absolute;
        left: 43%;
        margin-top:21%;
    }
    
    .password_error{
        position: absolute;
        left:59% ;
        margin-top: 22%;
        color: #912020;
        font-size: 12px;
        font-family: 'Roboto Light 300', sans-serif;
    }
    
    .label_password2{
        position: absolute;
        left:43% ;
        margin-top: 25% ;
        font-size: 12px;
        font-family: 'Roboto Light 300', sans-serif;
    }
    .password2{
        position: absolute;
        left: 43%;
        margin-top: 25.5%;
    }
    
    
    
    .booking_btn{
        position:absolute ;
        margin-top: 29%;
        left: 43.2%;

}

/* /////////////////////1200px//////////////////////////// */
@media ( max-width: 1200px){
    .label_registration{
        position: absolute;
        left: 43%;
        margin-top: 13.5%;

    }
    
    .label_login{
        position: absolute;
        margin-top: 18.5%;
        left: 43%;
        font-size: 11.5px;
        font-family: 'Roboto Light 300', sans-serif;
    }
    
    .username{
        position: absolute;
        left: 43%;
        margin-top: 19%;
    }
    
    .username_error{
        position: absolute;
        left: 66%;
        margin-top: 20.3%;
        color: #912020;
        font-size: 12px;
        font-family: 'Roboto Light 300', sans-serif;
    }
    
    .label_email{
        position: absolute;
        left: 43%;
        margin-top: 24%;
        font-size: 12px;
        font-family: 'Roboto Light 300', sans-serif;
    }
    .email{
        position: absolute;
        left: 43%;
        margin-top: 24.5%;
    }
    
    
    .label_password{
        position: absolute;
        left: 43%;
        margin-top: 29.5%;
        font-size: 12px;
        font-family: 'Roboto Light 300', sans-serif;
    }
    .password{
        position: absolute;
        left: 43%;
        margin-top:30%;
    }
    
    .password_error{
        position: absolute;
        left:66% ;
        margin-top: 31.3%;
        color: #912020;
        font-size: 12px;
        font-family: 'Roboto Light 300', sans-serif;
    }
    
    .label_password2{
        position: absolute;
        left:43% ;
        margin-top: 35% ;
        font-size: 12px;
        font-family: 'Roboto Light 300', sans-serif;
    }
    .password2{
        position: absolute;
        left: 43%;
        margin-top: 35.5%;
    }
    
    
    
    .booking_btn{
        position:absolute ;
        margin-top: 41%;
        left: 43.2%;

}


}
/* ////////////////////////////////800px/////////////////////////////// */
@media ( max-width: 800px){

    .label_registration{
        position: absolute;
        left: 43%;
        margin-top: 28%;
        font-size: 22px;
        font-family: 'Roboto Light 300', sans-serif;
    }
    
    .label_login{
        position: absolute;
        margin-top: 38%;
    }
    
    .username{
        position: absolute;
        left: 43%;
        margin-top: 38.5%;
    }
    
    .username_error{
        position: absolute;
        left: 75%;
        margin-top: 40.5%;
    }
    
    .label_email{
        position: absolute;
        margin-top: 46%;
    }
    .email{
        position: absolute;
        left: 43%;
        margin-top:46.5%;
    }
    
    .label_password{
        position: absolute;
        margin-top:53.5%;
    }
    .password{
        position: absolute;
        margin-top:54%;
    }
    
    .password_error{
        position: absolute;
        left: 75%;
        margin-top: 56%;

    }
    
    .label_password2{
        position: absolute;
        margin-top: 61.5% ;

    }
    .password2{
        position: absolute;
        margin-top: 62%;
    }
    
    .booking_btn{
        position:absolute ;
        margin-top: 69%;

}


}
/* //////////////////////////////////600px/////////////////////////////////// */

@media ( max-width: 600px){
    .label_registration{
        position: absolute;
        left: 43%;
        margin-top: 37%;
        font-size: 22px;
        font-family: 'Roboto Light 300', sans-serif;
    }
    
    .label_login{
        position: absolute;
        margin-top: 49.5%;
    }
    
    .username{
        position: absolute;
        left: 43%;
        margin-top: 50%;
    }
    
    .username_error{
        position: absolute;
        left: 43%;
        margin-top: 100%;
    }
    
    .label_email{
        position: absolute;
        margin-top: 59.5%;
    }
    .email{
        position: absolute;
        left: 43%;
        margin-top:60%;
    }
    
    .email_error{
        position: absolute;
        left:59% ;
        margin-top: 16.3;
        color: #912020;
        font-size: 12px;
        font-family: 'Roboto Light 300', sans-serif;
    }
    
    .label_password{
        position: absolute;
        margin-top:69.5%;
    }
    .password{
        position: absolute;
        margin-top:70%;
    }
    
    .password_error{
        position: absolute;
        margin-top: 108%;
        left: 43%;

    }
    
    .label_password2{
        position: absolute;
        margin-top: 79.5% ;

    }
    .password2{
        position: absolute;
        margin-top: 80%;
    }
    
    
    
    .booking_btn{
        position:absolute ;
        margin-top: 90%;

}


}
}


/* //////////////////////////////////400px/////////////////////////////////// */

@media ( max-width: 400px){
    .label_registration{
        position: absolute;
        left: 30%;
        margin-top: 47%;
        font-size: 22px;
        font-family: 'Roboto Light 300', sans-serif;
    }
    
    .label_login{
        position: absolute;
        margin-top: 65.5%;
        left: 30%;
    }
    
    .username{
        position: absolute;
        left: 30%;
        margin-top: 66%;
    }
    
    .username_error{
        position: absolute;
        left: 30%;
        margin-top: 135%;
    }
    
    .label_email{
        position: absolute;
        margin-top: 79.5%;
        left: 30%;
    }
    .email{
        position: absolute;
        left: 30%;
        margin-top:80%;
    }
    
    .label_password{
        position: absolute;
        margin-top:93.5%;
        left: 30%;
    }
    .password{
        position: absolute;
        margin-top:94%;
        left: 30%;
    }
    
    .password_error{
        position: absolute;
        margin-top: 145%;
        left: 30%;

    }
    
    .label_password2{
        position: absolute;
        margin-top: 107.5% ;
        left: 30%;

    }
    .password2{
        position: absolute;
        margin-top: 108%;
        left: 30%;
    }
    
    
    
    .booking_btn{
        position:absolute ;
        margin-top: 120%;
        left: 30%;

}

/* //////////////////////////////////300px/////////////////////////////////// */

@media ( max-width: 300px){
    .label_registration{
        position: absolute;
        left: 30%;
        margin-top: 47%;
        font-size: 22px;
        font-family: 'Roboto Light 300', sans-serif;
    }
    
    .label_login{
        position: absolute;
        margin-top: 68.5%;
        left: 30%;
    }
    
    .username{
        position: absolute;
        left: 30%;
        margin-top: 69%;
    }
    
    .username_error{
        position: absolute;
        left: 30%;
        margin-top: 170%;
    }
    
    .label_email{
        position: absolute;
        margin-top: 88%;
        left: 30%;
    }
    .email{
        position: absolute;
        left: 30%;
        margin-top:88.5%;
    }
    
    .label_password{
        position: absolute;
        margin-top:107.5%;
        left: 30%;
    }
    .password{
        position: absolute;
        margin-top:108%;
        left: 30%;
    }
    
    .password_error{
        position: absolute;
        margin-top: 185%;
        left: 30%;

    }
    
    .label_password2{
        position: absolute;
        margin-top: 127.5% ;
        left: 30%;

    }
    .password2{
        position: absolute;
        margin-top: 128%;
        left: 30%;
    }
    
    
    
    .booking_btn{
        position:absolute ;
        margin-top: 150%;
        left: 30%;

}


}

}
