*{
    margin: 0;
    padding: 0;
}
/* /////////////////////////////////////////////////HDR///////////////////////////////////// */
body{
    background: #ffffff;
}

.container {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
}
.container .headers{
    position: fixed;
    margin: 0;
    padding: 0;
    height: 64px;
    width: 100%;
}

.container .ico_setting_headers{
    position: absolute;
    margin:0;
    height: 20px;
    width: 20px;
    right: 220px;
    top: 22px;

}


.container .icoheaders{
    position: absolute;
    margin:0;
    height: 16;
    width: 16;
    top: 14px;
    left: 32px;
}



.container .btn_logout{
    position: absolute;
    margin-right: 0em;
    margin-left: 0em;
    right: 32px;
    top: 22px;
}

.container .btn_logout .btn_logout_txt{
    font-size: 14px;
    color: #ffffff;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

.container .user_setting{
    position: absolute;
    margin-right: 0em;
    margin-left: 0em;
    right: 132px;
    top: 0px;

}

.container .user_setting .user_btn{
    font-size: 14px;
    color: #ffffff;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}




.container .btn_a_txt:hover {
    color: #a8dfffb9;
    transition: 0.2s linear;
    cursor: pointer;
}

.container .btn_r_txt:hover {
    color: #a8dfffb9;
    transition: 0.2s linear;
    cursor: pointer;
}




/* /////////////////////////////////////////////////FTR/////////////////////////////////// */


.footer {
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 80px; /* высота футера */
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.footer .footer_img{
    position: fixed;
    margin: 0;
    padding: 0;
    height: 100px;
    width: 100%;
}

.footer .footer_btn .text_footer_dev{
    position: absolute;
    font-size: 10px;
    font-family: 'Roboto Light 300', sans-serif;
    color: white;
    left: 32px;
    top: 16px;
    cursor: pointer;
}   

.footer .footer_btn .text_footer_project{
    position: absolute;
    font-size: 10px;
    font-family: 'Roboto Light 300', sans-serif;
    color: white;
    left: 32px;
    top: 32px;
    cursor: pointer;
}   

.footer .footer_btn .text_footer_telegram{
    position: absolute;
    font-size: 10px;
    font-family: 'Roboto Light 300', sans-serif;
    color: white;
    left: 32px;
    top: 48px;
    cursor: pointer;
}   

.footer .footer_btn .text_footer_api{
    position: absolute;
    font-size: 10px;
    font-family: 'Roboto Light 300', sans-serif;
    color: white;
    left: 152px;
    top: 16px;
    cursor: pointer;
}   
/* //////////////////////////////////////////////////////////////////////// */


.custom-button {
    position: absolute;
    left: 5%;
    margin-top: 4%;
    width: 400px;
    height: 815px;
    background-color: #444444;
    color: #ffffff;
    border: none;
    font-size: 16px;
    position: relative;
    overflow: hidden;
}

.hover-image {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.custom-button:hover .hover-image {
  opacity: 1;
}

.wrapper{
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .wrapper_txt{
    display: block;
    font-size: 24px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    padding: 10px;
    letter-spacing: 2px;
    transition: all .25s;
  }
  
  .wrapper_txt:hover{
    letter-spacing: 15px;
  }
  

  .wrapper2{
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .wrapper_txt2{
    display: block;
    font-size: 24px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    padding: 10px;
    letter-spacing: 2px;
    transition: all .25s;
  }
  
  .wrapper_txt2:hover{
    letter-spacing: 15px;
  }


  .wrapper3{
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .wrapper_txt3{
    display: block;
    font-size: 24px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    padding: 10px;
    letter-spacing: 2px;
    transition: all .25s;
  }
  
  .wrapper_txt3:hover{
    letter-spacing: 15px;
  }


  .wrapper4{
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .wrapper_txt4{
    display: block;
    font-size: 24px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    padding: 10px;
    letter-spacing: 2px;
    transition: all .25s;
  }
  
  .wrapper_txt4:hover{
    letter-spacing: 15px;
  }